<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhkim.lotto.maker.repository.mapper.LottoMapper">
    <resultMap id="LottoDataResultMap" type="LottoData">
        <id property="drawId"                           column="draw_id" />
        <result property="drawDatetime"                 column="draw_datetime" />
        <result property="firstPriseMoney"              column="first_prise_money" />
        <result property="firstPriseMember"             column="first_prise_member" />
        <result property="firstPrisePerMoney"           column="first_prise_per_money" />
        <result property="lottoNo1"                     column="lotto_no1" />
        <result property="lottoNo2"                     column="lotto_no2" />
        <result property="lottoNo3"                     column="lotto_no3" />
        <result property="lottoNo4"                     column="lotto_no4" />
        <result property="lottoNo5"                     column="lotto_no5" />
        <result property="lottoNo6"                     column="lotto_no6" />
        <result property="lottoNo7Bonus"                column="lotto_no7_bonus" />
        <result property="totalSellAmount"              column="total_sell_amount" />
        <result property="createdDatetime"              column="created_datetime" />
    </resultMap>

    <resultMap id="LottoRandomResultMap" type="LottoRandom">
        <id property="id"                               column="id" />
        <result property="userId"                       column="user_id" />
        <result property="expDrawId"                    column="exp_draw_id" />
        <result property="expCount"                     column="exp_count" />
        <result property="expNo1"                       column="exp_no1" />
        <result property="expNo2"                       column="exp_no2" />
        <result property="expNo3"                       column="exp_no3" />
        <result property="expNo4"                       column="exp_no4" />
        <result property="expNo5"                       column="exp_no5" />
        <result property="expNo6"                       column="exp_no6" />
        <result property="createdDatetime"              column="created_datetime" />
    </resultMap>

    <resultMap id="LottoTestResultMap" type="LottoUserData">
        <id property="id"                               column="id" />
        <result property="userId"                       column="user_id" />
        <result property="expDrawId"                    column="exp_draw_id" />
        <result property="expCount"                     column="exp_count" />
        <result property="createdDatetime"              column="created_datetime" />

        <collection property="data"                       column="expDrawId=exp_draw_id, userId=user_id, id=id"                 select="selectTestLottoList" />
    </resultMap>

    <resultMap id="LottoTestDataMap" type="LottoDataList">
        <result property="expNo1"                       column="exp_no1" />
        <result property="expNo2"                       column="exp_no2" />
        <result property="expNo3"                       column="exp_no3" />
        <result property="expNo4"                       column="exp_no4" />
        <result property="expNo5"                       column="exp_no5" />
        <result property="expNo6"                       column="exp_no6" />
    </resultMap>

    <select id="selectId" parameterType="String" resultMap="LottoDataResultMap">
        SELECT draw_id,
               draw_datetime,
               first_prise_money,
               first_prise_member,
               first_prise_per_money,
               lotto_no1,
               lotto_no2,
               lotto_no3,
               lotto_no4,
               lotto_no5,
               lotto_no6,
               lotto_no7_bonus,
               total_sell_amount,
               created_datetime
        FROM lotto_data
        WHERE draw_id = #{id}
    </select>

    <select id="selectLottoList" resultMap="LottoDataResultMap">
        SELECT draw_id,
               draw_datetime,
               first_prise_money,
               first_prise_member,
               first_prise_per_money,
               lotto_no1,
               lotto_no2,
               lotto_no3,
               lotto_no4,
               lotto_no5,
               lotto_no6,
               lotto_no7_bonus,
               total_sell_amount,
               created_datetime
        FROM lotto_data
    </select>

    <select id="selectLottoRandomList" parameterType="String" resultMap="LottoRandomResultMap">
        SELECT id,
               user_id,
               exp_draw_id,
               exp_count,
               exp_no1,
               exp_no2,
               exp_no3,
               exp_no4,
               exp_no5,
               exp_no6,
               created_datetime
        FROM lotto_statistic_data
        WHERE exp_draw_id = #{id} and user_id = #{userId}
    </select>

    <select id="selectTestLottoList" resultMap="LottoTestDataMap">
        SELECT exp_no1,
               exp_no2,
               exp_no3,
               exp_no4,
               exp_no5,
               exp_no6
        FROM lotto_statistic_data
        WHERE exp_draw_id = #{expDrawId} and user_id = #{userId} and id = #{id}
    </select>

    <select id="selectTest" parameterType="String" resultMap="LottoTestResultMap">
        SELECT id,
               user_id,
               exp_draw_id,
               exp_count,
               created_datetime
        FROM lotto_statistic_data
        WHERE exp_draw_id = #{id} and user_id = #{userId}
    </select>


    <insert id="insertLotto" parameterType="LottoData">
        INSERT INTO lotto_data (
            draw_id,
            draw_datetime,
            first_prise_money,
            first_prise_member,
            first_prise_per_money,
            lotto_no1,
            lotto_no2,
            lotto_no3,
            lotto_no4,
            lotto_no5,
            lotto_no6,
            lotto_no7_bonus,
            total_sell_amount,
            created_datetime
        ) values (
                     #{drawId},
                     #{drawDatetime},
                     #{firstPriseMoney},
                     #{firstPriseMember},
                     #{firstPrisePerMoney},
                     #{lottoNo1},
                     #{lottoNo2},
                     #{lottoNo3},
                     #{lottoNo4},
                     #{lottoNo5},
                     #{lottoNo6},
                     #{lottoNo7Bonus},
                     #{totalSellAmount},
                     NOW()
                 )
    </insert>

    <insert id="insertRandomLotto" parameterType="LottoRandom">
        INSERT INTO lotto_statistic_data (
            id,
            user_id,
            exp_draw_id,
            exp_count,
            exp_no1,
            exp_no2,
            exp_no3,
            exp_no4,
            exp_no5,
            exp_no6,
            created_datetime
        ) values (
                     #{id},
                     #{userId},
                     #{expDrawId},
                     #{expCount},
                     #{expNo1},
                     #{expNo2},
                     #{expNo3},
                     #{expNo4},
                     #{expNo5},
                     #{expNo6},
                     NOW()
                 )
    </insert>



</mapper>